<template>
  <div class="container my-3">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="input-group input-group-lg mb-3">
          <input class="form-control" placeholder="Where do you want to go?" v-model="userInput" @keyup.enter="submit">
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" @click="submit">Submit</button>
          </div>
        </div>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(data, index) in dataList" :key="index">
            {{ data }}
            <button class="btn btn-outline-warning badge badge-pill" @click="remove(index)">X</button>
          </li>
        </ul>

        <div class="form-inline">
          <div class="form-check ml-auto mr-3">
            <input class="form-check-input" type="checkbox" v-model="removeAfterChoice">
            <label class="form-check-label" for="defaultCheck1">
              Remove item after choice
            </label>
          </div>
          <button class="btn btn-outline-success" @click="choice">Choice!</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function () {
    return {
      dataList: [
        '臺灣',
        '美國',
        '日本',
        '韓國',
        '中國'
      ],
      userInput: '',
      removeAfterChoice: true
    }
  },
  methods: {
    submit: function () {
      let userInput = this.userInput.trim()

      this.userInput = ''
      if (userInput === '') {
        alert('No input!')
        return
      }
      this.dataList.unshift(userInput)
    },
    remove: function (index) {
      this.dataList.splice(index, 1)
    },
    choice: function () {
      if (this.dataList.length < 1) {
        alert('No data in list.')
        return
      }

      let index = Math.floor(Math.random() * this.dataList.length)
      let data = this.dataList[index]

      if (this.removeAfterChoice) {
        this.remove(index)
      }

      alert('Choice result: ' + data)
    }
  }
}
</script>

<style>
</style>
